<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main_left">
        <div class="text_img">
          <img src="/assets/images/Union.png" alt="" />
          <span>work</span>
          <span>cation</span>
        </div>
        <div class="container_left">
          <div class="input_header">
            <div class="input_title1">
              <label for="rom">Bedrooms</label>
              <select id="room" name="room">
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="2">2</option>
              </select>
            </div>
            <div class="input_title2">
              <label for="rom">Bedrooms</label>
              <select id="room" name="room">
                <option value="2">2</option>
                <option value="8">8</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <div class="input_header2">
            <label for="price">Price Range</label>
            <select id="price" name="price">
              <option value="2$">Up to $2,000 /wk</option>
              <option value="7$">Up to $7,000 /wk</option>
              <option value="8$">Up to $8,000 /wk</option>
            </select>
          </div>
          <div class="input_radio">
            <p class="radio_title">Property Type</p>
            <input class="w3-radio" type="radio" name="prototype" id="contactChoice2" checked>
            <label for="contactChoice2">House</label></p>
            <p>
            <input class="w3-radio" type="radio" name="prototype" id="contactChoice2">
            <label for="contactChoice2">Apartment</label></p>
            <p>
            <input class="w3-radio" type="radio" name="prototype" id="contactChoice2">
            <label for="contactChoice2">Loft</label></p>
            <p>
              <input class="w3-radio" type="radio" name="prototype" id="contactChoice2">
              <label for="contactChoice2">Townhouse</label></p>
          </div>
          <section class="section_midd">
            <p class="radio_title">Amenities</p>
            <input class="w3-radio" type="checkbox"id="contactChoice2">
            <label for="contactChoice2">Balcony</label></p>
            <p>
            <input class="w3-radio" type="checkbox" id="contactChoice2">
            <label for="contactChoice2">Air conditioning</label></p>
            <p>
            <input class="w3-radio" type="checkbox"id="contactChoice2" checked>
            <label for="contactChoice2">Pool</label></p>
            <p>
              <input class="w3-radio" type="checkbox"  id="contactChoice2">
              <label for="contactChoice2">Beach</label></p>
            <input class="w3-radio" type="checkbox"  id="contactChoice2">
            <label for="contactChoice2">Pet friendly</label></p>
            <p>
            <input class="w3-radio" type="checkbox" id="contactChoice2">
            <label for="contactChoice2">Kid friendly</label></p>
            <p>
            <input class="w3-radio" type="checkbox" id="contactChoice2">
            <label for="contactChoice2">Parking</label></p>
          </section>
        </div>
        <section class="footer_left">
          <div class="footer_left_btn">
            <button class="btn_left">Update results</button>
          </div>
        </section>
      </div>
      <div class="main_right">
        <section class="header_rigth">
          <div class="header_title">
              <ul class="list_title">                      
                <li class="list_rigth1">List your property </li>
                <li class="list_rigth2">Trips</li>
                <li class="list_rigth3">Messages</li>
                <li class="list_rigth4">Support</li>
              </ul>
              <img class="img_title" src="/assets/images/image.png" alt="">
          </div>
          <div class="header_search">
            <div class="search_bar">
              <input type="text" placeholder="Search by keywords">
                <div class="search_bar_icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
          </div>
        </section>
        <section class="show-home">
          <section class="show-home-top">
            <div class="home-text-top">
              <p class="title-home-top">Los Angeles</p>
              <div class="text-title-top">
                <p class="text-top">Live like the stars in these luxurious Southern California estates.</p>
                <p class="link-top">View all</p>
              </div>
            </div>
            <div class="img-top">
              <div class="img-top">
                <img src="/assets/images/image1.png" alt="">
                  <div class="card-home-top">
                    <div class="card-top-title">
                      <button class="btn-primary-top">PLUS</button>
                      <p class="card-text-top">3 BEDS • 2 BATHS</p>
                    </div>
                    <div class="card-top-disc">
                      <p>Modern home in city center</p>
                    </div>
                    <div class="card-top-price">
                      <p>$1,400 <span>/wk</span></p>
                    </div>
                    <div class="card-top-degree">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <span>34 Reviews</span>
                    </div>
                </div>
              </div>
              <div class="img-top">
                <img src="/assets/images/image 2.png" alt="">
                  <div class="card-home-top">
                    <div class="card-top-title">
                      <p class="card-text-top card-text">4 BEDS • 2 BATHS</p>
                    </div>
                    <div class="card-top-disc">
                      <p>Isolated house outside of...</p>
                    </div>
                    <div class="card-top-price">
                      <p>$1,250 <span>/wk</span></p>
                    </div>
                    <div class="card-top-degree">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img class="img-top-card" src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary (1).svg" alt="">
                      <span>34 Reviews</span>
                    </div>
                </div>
              </div>
              <div class="img-top">
                <img src="/assets/images/image 2 (1).png" alt="">
                  <div class="card-home-top">
                    <div class="card-top-title">
                      <button class="btn-primary-top">PLUS</button>
                      <p class="card-text-top">5 BEDS • 4 BATHS</p>
                    </div>
                    <div class="card-top-disc">
                      <p>Large dream home with...</p>
                    </div>
                    <div class="card-top-price">
                    <p>$1,300 <span>/wk</span></p>
                  </div>
                  <div class="card-top-degree">
                    <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary (1).svg" alt="">
                      <span>34 Reviews</span>
                    </div>
                  </div>
              </div>
            </div>
          </section>
          <section class="show-home-down">
            <div class="home-text-down">
              <p class="title-home-down">Phoenix</p>
              <div class="text-title-down">
                <p class="text-down">Escape the cold and enjoy great weather without breaking the bank.</p>
                <p class="link-down">View all</p>
              </div>
            </div>
            <div class="img-down">
              <div class="img-down">
                <img src="/assets/images/image 4 (1).png" alt="">
                  <div class="card-home-down">
                    <div class="card-down-title">
                      <p class="card-text-down">Loft • 2 BEDS</p>
                    </div>
                    <div class="card-down-disc">
                      <p>Modern home in city center</p>
                    </div>
                    <div class="card-down-price">
                      <p>$1,400 <span>/wk</span></p>
                    </div>
                    <div class="card-down-degree">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <span>34 Reviews</span>
                    </div>
                </div>
              </div>
              <div class="img-down">
                <img src="/assets/images/image 2 (3).png" alt="">
                  <div class="card-home-down">
                    <div class="card-down-title">
                      <button class="btn-primary-down">PLUS</button>
                      <p class="card-text-down card-text2">4 BEDS • 2 BATHS</p>
                    </div>
                    <div class="card-down-disc">
                      <p>Isolated house outside of...</p>
                    </div>
                    <div class="card-down-price">
                      <p>$1,250 <span>/wk</span></p>
                    </div>
                    <div class="card-down-degree">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img class="img-top-card" src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary (1).svg" alt="">
                      <span>34 Reviews</span>
                    </div>
                </div>
              </div>
              <div class="img-down">
                <img src="/assets/images/image 3 (1).png" alt="">
                  <div class="card-home-down">
                    <div class="card-down-title">
                      <p class="card-text-down">Entire HOUSE • 4 BEDS</p>
                    </div>
                    <div class="card-down-disc">
                      <p>Large dream home with...</p>
                    </div>
                    <div class="card-down-price">
                    <p>$1,300 <span>/wk</span></p>
                  </div>
                  <div class="card-down-degree">
                    <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary.svg" alt="">
                      <img src="/assets/images/secondary (1).svg" alt="">
                      <span>34 Reviews</span>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </section>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
